/*
Theme for Lab 2
Version 1.0.0
Author: Rudenko Sergey;
*/
@import url("reset.css");

/*Основные стили*/

html {
	height: 100%;
}

body {
	background: black;
	font-family: Arial;
	font-size: 14px;
	min-height: 100%;
	padding-top: 25px;
}

p {
	font-size: 14px;
	color: #8a8a8a;
}

a {
	text-decoration: none;
	outline: none;
	font-size: 14px;
}

a:hover {
	text-decoration: underline;
	outline: none;
	font-size: 14px;
}

#wrap {
	width: 780px;
	margin: 0 auto;

}

#mainBody {
	background-image: url("../img/main_bg.png");
	background-repeat: no-repeat;
}

/*Central text area option*/
#centralBlock {
	width: 60%;
	float: left;
}

/*Menu style option*/
#leftMenu {
	width: 60%;
	float: left;
}