/*
Theme for Lab 2
Version 1.0.0
Author: Rudenko Sergey;
*/
@import url("reset.css");

/*Основные стили*/

html {
	height: 100%;
}

body {
	background: black;
	font-family: Arial;
	font-size: 14px;
	min-height: 100%;
	padding-top: 25px;
}

p {
	font-size: 14px;
	color: #8a8a8a;
}

a {
	text-decoration: none;
	outline: none;
	font-size: 14px;
}

a:hover {
	text-decoration: underline;
	outline: none;
	font-size: 14px;
}

#wrap {
	width: 780px;
	margin: 0 auto;

}

#mainBody {
	background-image: url("../img/main_bg.png");
	background-repeat: no-repeat;
	background-position: right top;
	clear: left;
	float: left;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/*Header Part*/
#header {
  	background: url("../img/header_bg.png") no-repeat;
  	height: 136px;
  	width: 780px;
}

.tagLine {
	color: white;
	font-size: 12px;
	position: top;
	height: 25px;
}

/*Menu style option*/
.leftMenu {
	width: 20%;
	height: 250px;
	float: left;/* Обтекание по правому краю */
	background: url("../img/menu_bg.png") no-repeat;
	text-align: center;
	color: white;

}
/*Buttons Style */
#firstBtn {
	background: url("../img/menu/first_button.png")no-repeat;
	position: center;
	height: 35px;
}

#secondBtn {
	background: url("../img/menu/second_button.png")no-repeat;
	position: center;
	height: 35px;
}

#thirdBtn {
	background: url("../img/menu/third_button.png")no-repeat;
	position: center;
	height: 35px;
}

#fourthBtn {
	background: url("../img/menu/fourth_button.png")no-repeat;
	position: center;
	height: 35px;
}

#fifthBtn {
	background: url("../img/menu/fifth_button.png")no-repeat;
	position: center;
	height: 35px;
}

#sixBtn {
	background: url("../img/menu/six_button.png")no-repeat;
	position: center;
	height: 35px;
}



/*Central text area option*/
.centralBlock {
	width: 65%;
	float: left;/* Обтекание по правому краю */
}

.body_right_img {
  	float:right;
  	margin: 5px 0 5px 5px; /* Отступы вокруг картинки */
}
.body_left_img {
    float:left; /* Выравнивание по левому краю */
    margin: 5px 5px 5px 0; /* Отступы вокруг картинки */
}